error:
  whitelabel:
    enabled: false
spring:
  application:
    name: Reading List
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  h2:
    console:
      enabled: true
server:
  port: 8000
amazon:
  associate_id: habuma-20
